<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand" href="#">{{ titulo }}</span>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://es.euronews.com/live" target="_blank">Euronews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://cnnespanol.cnn.com/video" target="_blank">CNN</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Periódicos locales</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">La Razón</a>
              <a class="dropdown-item" href="#">Los Tiempos</a>
              <a class="dropdown-item" href="#">El Deber</a>
              <a class="dropdown-item" href="#">La Patria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>